.game-page {
    background-color: #000; /* Fondo negro */
    color: #000000; /* Texto en negr */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  .statement-container {
    background-color: #fff;
    padding: 200px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid #3234b8;  Color aleatorio, puedes cambiarlo según tu preferencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .statement {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }
  
  .timer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #ffffff;
    font-size: large;
    background-color: #000;
    border-radius: 10px;
    padding: 10px;
  }
  .start-timer-button {
    background-color: #f5ff33;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  .next-button {
    margin-top: 10px;
    background-color: #f5ff33;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .home-button {
    background-color: #f5ff33;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  